body {
    background-color: #000;
    text-align: center;
}

/*Header CSS*/
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #fff;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
}

/*Main body CSS*/
 section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
 }

 img {
     margin-top: 10px;
     margin-bottom: 10px;
 }

 /*Footer CSS*/
 footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
 }